@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirArabic";
  src: url("https://requestat-web.vercel.app/_nuxt/fonts/AvenirArabic-Medium.6601465.otf");
  font-weight: 500;
}
@font-face {
  font-family: "AvenirArabic";
  src: url("https://requestat-web.vercel.app/_nuxt/fonts/AvenirArabic-Light.df9f5f4.otf");
  font-weight: 300;
}
@font-face {
  font-family: "AvenirArabic";
  src: url("https://requestat-web.vercel.app/_nuxt/fonts/AvenirArabic-Heavy.09d35c5.otf");
  font-weight: 700;
}

@font-face {
  font-family: "AvenirArabic";
  src: url("https://requestat-web.vercel.app/_nuxt/fonts/AvenirArabic-Black.9c4ecc9.otf");
  font-weight: 900;
}
* {
  font-family: "AvenirArabic";
}

:root {
  --text-base: #000;
  --text-inverted: #fff;
  --text-muted: #92929d;
  --text-active: #0a66d2;
  --text-disabled: #b4b4b4;
  --text-error: #e7404d;

  --border-muted: #f1f1f5;
  --border-muted2: #92929d;
  --border-muted-btn: #e5e5e5;
  --border-primary: #0a66d2;
  --border-inverted: #000;

  --bg-base: #fff;
  --bg-muted: #f7f7f7;
  --bg-row: #f0f0f0;
  --bg-muted2: #92929d;
  --bg-active: #e2f0ff;
  --bg-hover: #e1dddd;
  --bg-disabled: #e5e5e5;
  --bg-invertd: #121317;

  --btn-primary: #05675d;
  --btn-secondary: #2a097d;
}
